@media screen and (max-width: 760px){

.container{
    width: 100% !important;
    padding: 5px !important;
}
   
}


/* ---------------------------------------------------- */


.container {
    width: 90%;
    margin: auto;
    padding: 20px;
}